.react-flow__node-leftNode,
.react-flow__node-rightNode,
.react-flow__node-downNode {
  width: 150px;
  font-size: 12px;
  color: #222;
  text-align: center;
}

.react-flow__handle {
  width: 10px;
  height: 10px;
}
.react-flow__handle.target {
  background-color: darkred;
}
.flow-view .react-flow__handle {
  visibility: hidden;
}
.flow-view .react-flow__handle.react-flow__handle-top {
  top: 0;
}
.flow-view .react-flow__handle.react-flow__handle-left {
  left: 0;
}
.flow-view .react-flow__handle.react-flow__handle-right {
  right: 0;
}
.flow-view .react-flow__handle.react-flow__handle-bottom {
  bottom: 0;
}

.react-flow__resize-control.handle {
  width: 7px;
  height: 7px;
  opacity: 0.5;
  border: 1px solid black;
}
.react-flow__resize-control.handle.top {
  top: -1px !important;
}
.react-flow__resize-control.handle.bottom {
  top: unset !important;
  bottom: -8px;
}
.react-flow__resize-control.handle.left {
  left: -3px !important;
}
.react-flow__resize-control.handle.right {
  left: unset !important;
  right: -10px;
}
.react-flow__resize-control.line.top {
  background: url('/public/img/move-dotted-h.gif') repeat-x center 11px;
}
.react-flow__resize-control.line.bottom {
  background: url('/public/img/move-dotted-h.gif') repeat-x center 18px;
}
.react-flow__resize-control.line.left {
  background: url('/public/img/move-dotted-v.gif') repeat-y 9px center;
}
.react-flow__resize-control.line.right {
  background: url('/public/img/move-dotted-v.gif') repeat-y 20px center;
}
.react-flow__resize-control.line.left,
.react-flow__resize-control.line.right {
  width: 30px;
  border-style: hidden;
  opacity: 0.5;
}
.react-flow__resize-control.line.top,
.react-flow__resize-control.line.bottom {
  height: 30px;
  border-style: hidden;
  opacity: 0.5;
}

.toastui-editor-main {
  background: white;
}

.toastui-editor-contents {
  font-size: 15px;
}

.view-drawer .chakra-modal__content-container {
  width: 0 !important;
  height: 0 !important;
}

.flow-view .react-flow__node-startNode,
.flow-view .react-flow__node-stickerNode,
.flow-view .react-flow__node-downNode .no-description,
.flow-view .react-flow__node-leftNode .no-description,
.flow-view .react-flow__node-rightNode .no-description {
  cursor: default;
}

.flow-view .react-flow__node-downNode .has-description:hover,
.flow-view .react-flow__node-leftNode .has-description:hover,
.flow-view .react-flow__node-rightNode .has-description:hover,
.flow-view .react-flow__node-stickerNode a:hover {
  filter: brightness(0.9);
}
