.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.pagination .next {
  margin-left: 10px;
}

.pagination .previous {
  margin-right: 10px;
}

.pagination .page a {
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  color: #000;
  display: flex;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  margin: 0 5px;
  width: 30px;
}

.pagination .page a:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.pagination .page.active a {
  background-color: #3182ce;
  color: #fff;
}

.pagination .page.disabled a {
  background-color: #eaeaea;
  color: #000;
}

.pagination .page.disabled a:hover {
  cursor: not-allowed;
}
