.autocomplete-container {
  position: relative;
  height: 46px;
}

.autocomplete-container > .wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  background-color: white;
  color: #212121;
  font-size: 16px;
  z-index: 0;
}

.autocomplete-container > .wrapper:hover,
.autocomplete-container > .wrapper:active,
.autocomplete-container > .wrapper:focus-within {
  box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px 0px;
}

.autocomplete-container > .wrapper > .input-container {
  min-height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
}

.autocomplete-container > .wrapper > .input-container input {
  width: 100%;
  padding: 0 0 0 13px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
  font-family: inherit;
  color: #212121;
}
